.title-section {
  width: 312px;
  margin: 0 auto;
}

.section-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.category-card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  gap: 24px;
}

.category-card p {
  font-size: 28px;
  color: var(--text-primary-color);
  font-weight: var(--tittle-wight);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title-section {
    width: 366px;
  }
  .section-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .title-section {
    width: 366px;
  }
  .section-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 980px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px){
  .category-card{
    width: 281px;
  }
    .section-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1197px;
  }
}

