@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}


/*CSS RESET */

body,img,h1,p,fieldset,legend,label,input,select,textarea,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary-color:#ffffff;
    --background-secondary-color:#F5F5F5;
    --background-terciary-color:#000000;


    --button-primary-color:#8F0101;
    --button-secondary-color:#B81515;


    --text-primary-color:#222222;
    --text-secondary-color:#FFFFFF;

    --tittle-wight:700;
    --text-weight:400;
    --menu-text-weight:500;
}

body{
    font-family: "Montserrat";
}