header{
    width: 100%;
    height: 138px;
    background-color: var(--background-terciary-color);
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}