header {
  background-color: var(--background-terciary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.img-mobile {
  display: block;
}
.img-desktop {
  display: none;
}
.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  top: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: var(--background-terciary-color);
}
nav {
  display: none;
}

.list-links {
  list-style: none;
  font-weight: var(--text-wight);
}

.list-links li {
  margin: 16px 0;
}

.list-links a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu li {
    margin: 0;
  }
  .list-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
}


@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }
  .logo {
    width: 260px;
    height: 64px;
  }

  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
  .list-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
}

.list-links a:hover {
  color: var(--button-primary-color);
}

@media screen and (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
  .list-links a:hover {
    color: var(--button-primary-color);
  }
}
