.hero_img {
  height: 400px;
  width: 100%;
  background: url(../assets/banner_home-mobile.png) no-repeat;
  background-size: cover;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  width: 312px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero_img {
    height: 620px;
    background: url(../assets/banner_home_tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    width: 648px;
    text-align: center;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  .hero_img {
    height: 620px;
    background: url(../assets/home-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 0;
    font-size: 32px;
    width: 1200px;
    text-align: center;
  }
}
