@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf),
     url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}



body,img,h1,p,fieldset,legend,label,input,select,textarea,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary-color:#ffffff;
    --background-securady-color:#F5F5F5;
    --background-securady-color:#0000;


    --button-primary-color:#8F0101;
    --button-primary-color:#B81515;


    --text-primary-color:#222222;
    --text-secudary-color:#FFFFFF;

    --tittle-wight:700;
    --text-weight:400;
    --menu-text-weight:500;
}

h1{
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: var(--tittle-wight);
}